.score-table {
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 2rem;
}

.score-container {
    margin-top: 6%;
}

.subject-select {
    outline: none;
    box-shadow: none;
}
