.solve-container {
    margin-top: 7%;
    margin-left: 4%;
}

#SaveButton {
    margin-right: 10px;
}

#SaveButton:focus {
    outline: none;
    box-shadow: none;
}

.load-button:focus {
    outline: none;
    box-shadow: none;
}