<div class="solve-container container" style="width: 50%; display: flex; justify-content: space-between">
    <div id="myPaletteDiv"
        style="width: 105px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black"></div>
    <div id="myDiagramDiv" style="flex-grow: 1; height: 620px; border: solid 1px black"></div>
</div>

<div class="container mt-3 mb-3">
    <button class="btn btn-primary" id="SaveButton" (click)="save()">Save</button>
    <button class="btn btn-primary load-button" (click)="load()">Load</button>
    Diagram Model saved in JSON format:
</div>

<textarea id="mySavedModel" style="width:100%;height:300px" [(ngModel)]="jsonValue">
    { "class": "GraphLinksModel",
    "linkFromPortIdProperty": "fromPort",
    "linkToPortIdProperty": "toPort",
    "modelData": {"position":"-473.5 -309"},
    "nodeDataArray": [
  {"text":"Comment","figure":"RoundedRectangle","fill":"lightyellow","key":-6,"loc":"-330 90"},
  {"text":"End","figure":"Ellipse","size":"75 75","fill":"#CE0620","key":-5,"loc":"-130 150"}
  ],
    "linkDataArray": []}
        </textarea>