.solve-container {
    /* margin-top: 7%; */
    margin-left: 3rem;
}

#SaveButton {
    margin-right: 10px;
}

#SaveButton:focus {
    outline: none;
    box-shadow: none;
}

.load-button:focus {
    outline: none;
    box-shadow: none;
}

.ms-6 {
    margin-left: 4rem;
}

#mySavedModel {
    margin: 1rem 4rem;
    width: 90%;
}

.question {
    margin-top: 7%;
    padding: 0;
    margin-bottom: 2rem;
}

.save-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.counter {
    justify-content: flex-end;
    margin-left: -6rem;
}

.counter-text {
    padding: 10px;
    font-size: 35px;
    margin-top: -1.5rem;
}