<p></p>
<div class="container dashboard">
    <div class="row subject-row">
        <div class="col p-5 col-sm-4" *ngFor="let subject of subjects; let i = index">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{subject.name}}</h5>
            <p class="card-text">
              <a routerLink="/puzzle" class="btn btn-primary create-btn">Create puzzle</a>
              <img class="card-img-thumbnail" src='{{icons[i].imageSrc}}'/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container p-5">
    <h3 class="mt-5 mb-5">Dashboard</h3>
    <div class="accordion" id="accordionExample"><!--ngfor loop started for dynamic data -->
        <div class="accordion-item">
          <h2 class="accordion-header" [id]="heading0">
         
            <button class="accordion-button" [ngClass]="{ 'collapsed': accordionIndex != 0 }" (onclick)="setAccordionIndex(0);" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="#collapse0" aria-expanded="true" [attr.aria-controls]="collapse0">
              Accordion Item 0
            </button>
          </h2>
          <div [id]="collapse0" class="accordion-collapse collapse" [ngClass]="{ 'show': accordionIndex == 0 }" [attr.aria-labelledby]="heading0" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
       
       
       
      </div>
     
    </div>